

#workspace {
    width: 100%;
    
}

#demonstration_examples_view {
    float: left;
    width: 100%;
    margin: 15px 0;
    margin-right: 5px;
    
}

#evaluation_view {
    float: left;
    width: 100%;
}

#input-view {
    float: left;
    width: 400px;
    margin: 10px;
    background-color: #eee;
    padding: 10px;
}

#evaluation_output_editor {
    float: left;
    width: 500px;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 0;
}

#load_task_control_btns {
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
    background: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#editor_grid_control_btns {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#resize_control_btns {
    width: 100%;
    float:left;
    margin-bottom: 10px;
}

#submit_solution_btn {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
}

#submit_solution_btn:active {
  background: blue;
}

button:focus {outline:0;}

#output_grid {

}

#toolbar {
    float: left;
    margin-left: 10px;
    margin-top: 18px;
    margin-bottom: 10px;
    width: 100%;

}

#symbol_picker {
    float: left;
    margin-left: 20px;
    width: 100%;
}

.symbol_preview {
    width: 25px;
    height: 25px;
    float: left;
}

label {
    margin-left: 10px;
}

input, button {
    margin-left: 10px;
}

#resize_btn {
    margin-left: 0;
}

/*Task demonstration*/

.pair_preview {
    
    padding: 5px;
    
}
.input_preview {
    height: 200px;
    width: 200px;
    float: left;
}
.output_preview {
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 10px;
}

.text {
    text-align: center;
    background: rgba(128, 128, 128, 0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#task_demo_header {
    margin: 0px;
}

#error_display {
    display: none;
}