{% extends "base.html" %}
    
{% block title %}
<title>Task editor</title>
{% endblock title %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/arc_common.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/editor.css') }}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
{% endblock head %}

{% block content %}
<div id="editor">
    <div class="container">
        <div id="errorMsgFile" style="display:none"></div>
        <div id="pair_editor">
            <div id="task_toolbar" class="toolbar">
                <label for="task_name">Task name: </label>
                <input type="text" id="task_name" name="task_name" value="">
                <button id="download_task" onclick="downloadTask()">Download task</button>
                <input type="file" id="load_task_file_input" class="load_task" style="display: none;"/>
                <input type="button" class="browse-button" value="Browse for another task" onclick="document.getElementById('load_task_file_input').click();" />
                <button id="save_task" onclick="saveTask()">Submit to ARC 2</button>
            </div>
            <!-- <div id="pair_toolbar" class="toolbar">
                <div class="pair_button">
                    <button id="save_pair" onclick="stashCurrentPair()">Save pair</button>
                    <button id="new_pair" onclick="newPair()">New pair</button>
                    <button id="reset_current_pair" onclick="resetCurrentPair()">Reset current pair</button>
                </div>
            </div> -->
            <div id="new_pairs">
                <div id="parent_pair">
                    <div id="grids_space">
                        <div id="input_window">
                            <div id="input_grid">
                                <div class="edition_grid"></div>
                            </div>

                            <div class="toolbar">
                                <label for="input_grid_size">Input grid size: </label>
                                <input type="text" id="input_grid_size" class="grid_size_field" name="size" value="16x16">
                                <button onclick="resizeInputGrid()">Resize</button>
                                <button onclick="resetInputGrid()">Reset grid</button>
                                <button onclick="copyToOutput()">Copy to output</button>
                                <div class="symbol_toolbar-outer">
                                    <div id="symbol_toolbar" >
                                        <div id="symbol_picker" class="symbol_picker_cls">
                                            <div class="symbol_preview symbol_0 selected-symbol-preview" symbol="0"></div>
                                            <div class="symbol_preview symbol_1" symbol="1"></div>
                                            <div class="symbol_preview symbol_2" symbol="2"></div>
                                            <div class="symbol_preview symbol_3" symbol="3"></div>
                                            <div class="symbol_preview symbol_4" symbol="4"></div>
                                            <div class="symbol_preview symbol_5" symbol="5"></div>
                                            <div class="symbol_preview symbol_6" symbol="6"></div>
                                            <div class="symbol_preview symbol_7" symbol="7"></div>
                                            <div class="symbol_preview symbol_8" symbol="8"></div>
                                            <div class="symbol_preview symbol_9" symbol="9"></div>
                                        </div>
                                        <div id="symbol_actions">
                                            <input type="radio" id="tool_edit" name="tool_switching_input" value="edit" checked>
                                            <label for="tool_edit">Edit</label>
                                            <input type="radio" id="tool_select" name="tool_switching_input" value="select">
                                            <label for="tool_select">Select</label>
                                            <input type="radio" id="tool_floodfill" name="tool_switching_input" value="floodfill">
                                            <label for="tool_floodfill">Flood fill</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="toolbar">
                                <button onclick="singleColorNoiseOnGrid('input')">Noise (single-color)</button>
                                <button onclick="multicolorNoiseOnGrid('input')">Multicolor noise</button>
                                <div class="toolbar-inner">
                                    <label for="eval_expr_input">Expression of i, j: </label>
                                    <input type="text" id="eval_expr_input" name="expr" value="i**2 + j">
                                    <button onclick="evalExpressionOnInputGrid()">Eval</button>
                                </div>
                            </div>
    
                        </div>

                        <div id="output_window">
                            <div id="output_grid">
                                <div class="edition_grid">
                                </div>
                            </div>

                            <div class="toolbar">
                                <label for="output_grid_size">Output grid size: </label>
                                <input type="text" id="output_grid_size" class="grid_size_field" name="size" value="16x16">
                                <button onclick="resizeOutputGrid()">Resize</button>
                                <button onclick="resetOutputGrid()">Reset grid</button>
                                <div class="symbol_toolbar-outer">
                                    <div id="symbol_toolbar" >
                                        <div id="symbol_picker" class="symbol_picker_cls">
                                            <div class="symbol_preview symbol_0 selected-symbol-preview" symbol="0"></div>
                                            <div class="symbol_preview symbol_1" symbol="1"></div>
                                            <div class="symbol_preview symbol_2" symbol="2"></div>
                                            <div class="symbol_preview symbol_3" symbol="3"></div>
                                            <div class="symbol_preview symbol_4" symbol="4"></div>
                                            <div class="symbol_preview symbol_5" symbol="5"></div>
                                            <div class="symbol_preview symbol_6" symbol="6"></div>
                                            <div class="symbol_preview symbol_7" symbol="7"></div>
                                            <div class="symbol_preview symbol_8" symbol="8"></div>
                                            <div class="symbol_preview symbol_9" symbol="9"></div>
                                        </div>
                                        
                                        <div id="symbol_actions">
                                            <input type="radio" id="tool_edit" name="tool_switching_output" value="edit" checked>
                                            <label for="tool_edit">Edit</label>
                                            <input type="radio" id="tool_select" name="tool_switching_output" value="select">
                                            <label for="tool_select">Select</label>
                                            <input type="radio" id="tool_floodfill" name="tool_switching_output" value="floodfill">
                                            <label for="tool_floodfill">Flood fill</label>
                                        </div>
                                    </div>
                                </div>                                
                            </div>

                            <div class="toolbar">
                                <button onclick="singleColorNoiseOnGrid('output')">Noise (single-color)</button>
                                <button onclick="multicolorNoiseOnGrid('output')">Multicolor noise</button>
                                <div class="toolbar-inner">
                                    <label for="eval_expr_output">Expression of i, j: </label>
                                    <input type="text" id="eval_expr_output" name="expr" value="i**2 + j">
                                    <button onclick="evalExpressionOnOutputGrid()">Eval</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="delete_mark_as_test_pairs" class="delete_mark_as_test_pairs">
                        <button class="delete_pair_btn" onclick="$('#parent_pair').remove()">Delete Pair</button>
                        <button class="select_for_testing_button" onclick="selectPairForTesting()">Mark as Test Pair</button>
                    </div>
                </div>
            </div>
            <div id="new_pair_button" class="new_pair_button">
                <button id="new_pair" onclick="newPair()">New pair</button>
            </div>
        </div>
    </div>
</div>
<section class="container-fluid orange footer">
    <div class="container text-center">
        <span> © 2022 Arc. All rights reserved.</span>
    </div>
</section>
{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/arc_common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock script %}