{% extends "base.html" %}
{% block title %}    
<title>Home</title>
{% endblock title %}

{% block content %}
    <body class="home">
        <section class="banner">
            <div class="header">
                <div class="col-md-12 col-12"></div>
                <div class="banner-container container" data-title="Welcome!" data-intro="You are Now in ARC 2 Home Page">
                    <div class="banner-text">
                        <h1>{{ apidata.arc_welcome_heading }}</h1>
                        <p>{{ apidata.arc_welcome_description }}</p>
                        <a data-title="Visit Game" data-intro="You can Play Here Psychology Games" href="{{ url_for('playground') }}">Go to Playground</a>
                    </div>
                    <div class="banner-img">
                          <img src="{{ apidata.arc_welcome_image[0] }}" referrerpolicy="no-referrer-when-downgrade"/>
                    </div>
                </div>
            </div>
        </section>

        <section class="text_content">
            
           <div class="container">
              <div class="what-arc" data-intro="Here, You Can Know More about Us ">
                {{ apidata.what_is_arc_heading | safe }}
              </div>
              <div class="arc1-arc2">
                    <div class="arc-des" data-intro="We have Fascinated AI based Games">
                        <div class="arc-des-left">
                            <h2>{{ apidata.arc_1_heading }}</h2>
                            <p>{{ apidata.arc_1_description }}</p>
                        </div>
                        <div class="arc-des-right">
                            <img src="{{ apidata.arc_1_image[0] }}" />
                        </div>
                    </div>
                    <div class="arc-des des-bottom">
                        <div class="arc-des-left">
                            <h2>{{ apidata.arc_2_heading }}</h2>
                            <p>{{ apidata.arc_2_description }}</p>
                        </div>
                        <div class="arc-des-right">
                            <img src="{{ apidata.arc_2_image[0] }}" />
                        </div>
                    </div>
              </div>
             
            </div>   
            
        </section>
        <section class="container-fluid grey-bg">
            <div class="container text-center">
                {{ apidata.arc_2_Crowdsourcing_heeading | safe }}
                <p class="p-large">{{ apidata.arc_2_crowdsourcing_description }} </p>
                <img src="{{ apidata.arc_2_Crowdsourcing_Image[0] }}" />

            </div>
        </section>
        <section>
            <div class="container">
                <div class="compeltion">
                   <div >
                       {{ apidata.arc_2_yearly_competition_heading | safe }}
                       {{ apidata.arc_2_yearly_competition_description | safe }}                           
                   </div>
                   <div><img src="{{ apidata.arc_2_yearly_competition_Image[0] }}"/></div>
                </div>
           </div>
        </section>
        
        <section class="limitation">
            <div class="container">
                {{ apidata.limitations_of_arc_tittle | safe }}
                <div class="row">
                    <ul>
                        <li class="text-center">
                            <div class="image"><img src="{{ apidata.limitations_of_arc_image_1[0] }}"></div>
                            <h3>{{ apidata.limitations_of_arc_heading_1 }}</h3>
                            <p class="p-large">{{ apidata.limitations_of_arc_description_1 }}</p>
                        </li>
                        <li class="text-center">
                            <div class="image"><img src="{{ apidata.limitations_of_arc_image_2[0] }}"></div>
                            <h3>{{ apidata.limitations_of_arc_heading_2 }}</h3>
                            <p class="p-large">{{ apidata.limitations_of_arc_description_2 }}</p>
                        </li>
                        <li class="text-center">
                            <div class="image"><img src="{{ apidata.limitations_of_arc_image_3[0] }}"></div>
                            <h3>{{ apidata.limitations_of_arc_heading_3 }}</h3>
                            <p class="p-large">{{ apidata.limitations_of_arc_description_3 }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section> 
        <section class="container-fluid grey-bg related-research">
            <div class="container text-center">
                <h2 class="mt-0">{{ apidata.related_research_heading }}</h2>
                <div class="row">
                    <div class="col-md-6  p-15">
                        <div class="border p-20 text-left bg-white b-radius-15">
                            <h3>{{ apidata.related_research_title_1 }}</h3>
                             <p class="p-large">{{ apidata.related_research_description_1 }} </p>
                        </div>
                    </div>
                    <div class="col-md-6  p-15">
                        <div class="border p-20 text-left bg-white b-radius-15">
                            <h3>{{ apidata.related_research_title_2 }}</h3>
                             <p class="p-large">{{ apidata.related_research_description_2 }} </p>
                        </div>
                    </div>
                </div>
                

            </div>
        </section>

        <section class="container-fluid orange footer">
            <div class="container text-center">
                <span> © 2022 Arc. All rights reserved.</span>
            </div>
        </section>    
        
{% endblock content %}


{% block script %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
     <!-- Latest compiled and minified JavaScript -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% endblock script %}
