{% extends "base.html" %}
{% block title %}    
<title>ARC Home</title>
{% endblock title %}

{% block content %}
    <body class="home">
        <section class="banner">
            <div class="header">
                <div class="col-md-12 col-12"></div>
                <div class="banner-container container" data-title="Welcome!" data-intro="You are Now in ARC 2 Home Page">
                    <div class="banner-text">
                        {% if apidata.limitations_of_arc_tittle %}
                        {{ apidata.arc_welcome_heading | safe }}
                        {% endif %}
                        {% if apidata.arc_welcome_description %}
                        {{ apidata.arc_welcome_description | safe }}
                        {% endif %}
                        <a data-title="Visit Game" data-intro="You can Play Here Psychology Games" href="{{ url_for('playground') }}">Go to Playground</a>
                    </div>
                    <div class="banner-img">
                          <img src="{{ apidata.arc_welcome_image[0] }}"/>
                    </div>
                </div>
            </div>
        </section>

        <section class="text_content">
            
           <div class="container">
                {% if apidata.what_is_arc_heading %}
                <div class="what-arc" data-intro="Here, You Can Know More about Us ">
                {{ apidata.what_is_arc_heading | safe }}
                </div>
                {% endif %}
              <div class="arc1-arc2">
                    {% if apidata.arc_1_heading or arc_1_description or apidata.arc_1_image %}
                    <div class="arc-des" data-intro="We have Fascinated AI based Games">
                        <div class="arc-des-left">
                            {% if apidata.arc_1_heading %}
                            {{ apidata.arc_1_heading | safe }}
                            {% endif %}

                            {% if apidata.arc_1_description %}
                            {{ apidata.arc_1_description | safe }}
                            {% endif %}
                        </div>
                        {% if apidata.arc_1_image %}
                        <div class="arc-des-right">
                            <img src="{{ apidata.arc_1_image[0] }}" />
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if apidata.arc_2_heading or arc_2_description or apidata.arc_2_image %}
                    <div class="arc-des des-bottom">
                        <div class="arc-des-left">
                            {% if apidata.arc_2_heading %}
                            {{ apidata.arc_2_heading | safe }}
                            {% endif %}
                            {% if apidata.arc_2_description %}
                            {{ apidata.arc_2_description | safe }}
                            {% endif %}
                        </div>
                        {% if apidata.arc_2_image %}
                        <div class="arc-des-right">
                            <img src="{{ apidata.arc_2_image[0] }}" />
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
              </div>
             
            </div>   
        </section>
        {% if apidata.arc_2_Crowdsourcing_heading or arc_2_crowdsourcing_description or apidata.arc_2_Crowdsourcing_Image %}
        <section class="container-fluid grey-bg">
            <div class="container text-center">
                {% if apidata.arc_2_Crowdsourcing_heading %}
                {{ apidata.arc_2_Crowdsourcing_heading | safe }}
                {% endif %}
                {% if apidata.arc_2_crowdsourcing_description %}
                {{ apidata.arc_2_crowdsourcing_description | safe }}
                {% endif %}
                {% if apidata.arc_2_Crowdsourcing_Image %}
                <img src="{{ apidata.arc_2_Crowdsourcing_Image[0] }}" />
                {% endif %}
            </div>
        </section>
        {% endif %}

        {% if apidata.arc_2_yearly_competition_heading or arc_2_yearly_competition_description or apidata.arc_2_yearly_competition_Image %}
        <section>
            <div class="container">
                <div class="compeltion">
                   <div>
                        {% if apidata.arc_2_yearly_competition_heading %}
                        {{ apidata.arc_2_yearly_competition_heading | safe }}
                        {% endif %}
                        {% if apidata.arc_2_yearly_competition_description %}
                        {{ apidata.arc_2_yearly_competition_description | safe }}
                        {% endif %}
                   </div>
                   {% if apidata.arc_2_yearly_competition_Image %}
                   <div>
                        <img src="{{ apidata.arc_2_yearly_competition_Image[0] }}">
                   </div>
                   {% endif %}
                </div>
            </div>
        </section>
        {% endif %}

        <section class="limitation">
            <div class="container">
                {% if apidata.limitations_of_arc_tittle %}
                {{ apidata.limitations_of_arc_tittle | safe }}
                {% endif %}
                <div class="row">
                    <ul>
                        {% if apidata.limitations_of_arc_image_1 or apidata.limitations_of_arc_heading_1 or apidata.limitations_of_arc_description_1 %}
                        <li class="text-center">
                            {% if apidata.limitations_of_arc_image_1 %}
                            <div class="image"><img src="{{ apidata.limitations_of_arc_image_1[0] }}"></div>
                            {% endif %}
                            {% if apidata.limitations_of_arc_heading_1 %}
                            {{ apidata.limitations_of_arc_heading_1 | safe }}
                            {% endif %}
                            {% if apidata.limitations_of_arc_description_1 %}
                            {{ apidata.limitations_of_arc_description_1 | safe }}
                            {% endif %}
                        </li>
                        {% endif %}
                        {% if apidata.limitations_of_arc_image_2 or apidata.limitations_of_arc_heading_2 or apidata.limitations_of_arc_description_2 %}
                        <li class="text-center">
                            {% if apidata.limitations_of_arc_image_2 %}
                            <div class="image"><img src="{{ apidata.limitations_of_arc_image_2[0] }}"></div>
                            {% endif %}
                            {% if apidata.limitations_of_arc_heading_2 %}
                            {{ apidata.limitations_of_arc_heading_2 | safe }}
                            {% endif %}
                            {% if apidata.limitations_of_arc_description_2 %}
                            {{ apidata.limitations_of_arc_description_2 | safe }}
                            {% endif %}
                        </li>
                        {% endif %}
                        {% if apidata.limitations_of_arc_image_3 or apidata.limitations_of_arc_heading_3 or apidata.limitations_of_arc_description_3 %}
                        <li class="text-center">
                            {% if apidata.limitations_of_arc_image_3 %}
                            <div class="image"><img src="{{ apidata.limitations_of_arc_image_3[0] }}"></div>
                            {% endif %}
                            {% if apidata.limitations_of_arc_heading_3 %}
                            {{ apidata.limitations_of_arc_heading_3 | safe }}
                            {% endif %}
                            {% if apidata.limitations_of_arc_description_3 %}
                            {{ apidata.limitations_of_arc_description_3 | safe }}
                            {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </section>

        {% if apidata.related_research_heading or apidata.related_research_title_1 or apidata.related_research_description_1 or related_research_title_2 or related_research_description_2 %}
        <section class="container-fluid grey-bg related-research">
            <div class="container text-center">
                {% if apidata.related_research_heading %}
                {{ apidata.related_research_heading | safe }}
                {% endif %}
                <div class="row">
                    <div class="col-md-6  p-15">
                        <div class="border p-20 text-left bg-white b-radius-15">
                            {% if apidata.related_research_title_1 %}
                            {{ apidata.related_research_title_1 | safe }}
                            {% endif %}
                            {% if apidata.related_research_description_1 %}
                            {{ apidata.related_research_description_1 | safe }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6  p-15">
                        <div class="border p-20 text-left bg-white b-radius-15">
                            {% if apidata.related_research_title_1 %}
                            {{ apidata.related_research_title_2 | safe }}
                            {% endif %}
                            {% if apidata.related_research_description_2 %}
                            {{ apidata.related_research_description_2 | safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        
{% endblock content %}


{% block script %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
     <!-- Latest compiled and minified JavaScript -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% endblock script %}