<div class="navbar-outer">
    <div class="container">
        <div class="navbar ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-md-6 col-6 logo"><a href="/"><img src="img/logo.png" /></a></div>
          <div id="navbar" class="nav col-md-6 col-6 collapse navbar-collapse f-right">
            <div  class="">
              <ul class="nav navbar-nav">
                <li><a {% if location == "home" %}class="active"{% endif %} href="/">ARC Home</a></li>
                <li><a {% if location == "playground" %}class="active"{% endif %} href="/playground">Playground</a></li>
                <li><a {% if location == "editor" %}class="active"{% endif %} href="/editor">Task editor</a></li>
            <!-- {% if logged_in %} -->
                
            <!-- <a href="/logout">Logout</a> -->
            <!-- {% else %} -->
            <!-- <li><a {% if location == "login" %}class="active"{% endif %} href="/logout">Login</a></li>
            <li><a {% if location == "register" %}class="active"{% endif %} href="/register">Register</a></li> -->
            <!-- {% endif %}--> </ul> 
              
            </div>
            
          </div>
        </div>
    </div>
</div>

