{% extends "base.html" %}
{% block title %}
    <title>New Password </title>
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="reset-password">
        <div class="title-wrapper">
            <h1 class="title">Reset Password</h1>
        </div>
        <div class="login-wrapper">
            {% if error %}
            <p id="reset_error_data">{{ error }}</p>
            {% endif %}
            <form class="login-form" method="POST">
                <div class="form_input">
                    
                    <input id="reset_password" name="reset_password" type="password" placeholder="New Password" class="textbox"/><br>
                </div>
                <div class="form_input">
                   
                    <input id="reset_confirm_password" name="reset_confirm_password" type="password" placeholder="Confirm New Password" class="textbox"/><br>
                </div>
                <div class="form-input">
                    <button type="submit" id="new_password">Reset Password</button>
                </div>
            </form>
            
        </div>
    </div>
    </div>
    <section class="container-fluid orange footer " style="position: fixed; width:100%; bottom:0; left:0px;">
        <div class="container text-center">
            <span> © 2022 Arc. All rights reserved.</span>
        </div>
    </section>
{% endblock content %}